{% extends "base.html" %}

{% block content %}
  <div class="row center-align">
    <h3 class="card-panel lime-text text-darken-4">Code Snippets</h3>

    <!-- btn to open modal -->
    <div class="col s12">
      <button
        data-target="modal1"
        class="modal-trigger btn btn-large lime darken-3 text-shadow"
      >
        Add Code
        <i class="fas fa-plus-square right"></i>
      </button>
    </div>

    <!-- for both -->
    <div class="col s12">
      <h4>Python & JavaScript</h4>

      <!-- entire modal -->
      <div class="row">

        <!-- modal contents -->
        <div id="modal1" class="modal">
          <div class="modal-content">
            <!-- form in modal -->
            <form
              class="col s12 left-align"
              method="POST"
              action="{{url_for('added_code_func')}}"
            >
              <div class="input-field col s12">
                <select
                  id="language"
                  name="language"
                  class="validate"
                  required>
                  <option value="" disabled selected>Choose your language</option>
                  <option value="1">Python</option>
                  <option value="2">JavaScript</option>
                </select>
              </div>              
                
              <label for="addedCode">Enter your code here</label>
              <textarea
                required
                id="addedCode"
                name="addedCode"
                class="materialize-textarea"
              ></textarea>              

              <div class="modal-footer">
                <button class="btn-small lime darken-3 text-shadow">
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- using prism.js -->
      {% for code_snippet in code_snippet_func %} 
        {% if code_snippet.language == "python" %}
          <p>{{-code_snippet.language-}}</p>
          <pre>
            <code class="language-python">
{{code_snippet.code -}}
            </code>
          </pre>

        {% elif code_snippet.language == "javascript" %}
          <p>{{-code_snippet.language-}}</p>
          <pre>
            <code class="language-javascript">
{{code_snippet.code -}}
            </code>
          </pre>        
        {% endif %} 
      {% endfor %}
    </div>



  </div>
{% endblock %}
