{% extends "base.html" %} {% block content %}
  <div class="row center-align">
    <h3 class="card-panel center-align lime-text text-darken-4">
      Syntax Highlighting
    </h3>

    <!-- for python -->
    <div class="col s6" >
      <h4>Python</h3>
      <!-- using prism.js -->
      {% for code_snippet in syntax_highlighting_func %}
        {% if code_snippet.language == "python" %}
          <pre>
            <code class="language-python">
{{code_snippet.code -}}
            </code>
          </pre>  
        {% endif %}
      {% endfor %}    
    </div>

    <!-- for javascript -->
    <div class="col s6" >
      <h4>JavaScript</h3>
      <!-- using prism.js -->
      {% for code_snippet in syntax_highlighting_func %}
        {% if code_snippet.language == "javascript" %}
          <pre>
            <code class="language-javascript">  
{{code_snippet.code -}}
            </code>
          </pre>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
